.conteudo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   /* background-image: linear-gradient(to right, #091428, #0A1428); */
    background-image: url(../imgs/riven.jpg);
    background-size: cover;
    background-position: center;
}

.conteudo__top{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-bottom: 2px solid var(--dourado-6);
    background-color: #091223d1;
}

.img_samuel_drift{
    width: 50px;
}

.conteudo__top-status{
    display: flex;
    flex-direction: column;
    padding: 1em 0.3;
    margin-right: auto;
    color: var(--cinza-1);
}

.conteudo__top-status > h1 {
    font-size: 24px;
    font-family: 'BeaufortForLoLBold';
    padding-bottom: 0.2em;
    color: var( --dourado-1);
}

.conteudo__top-status > p {
    font-family: 'SpiegelTT';
}

.conteudo__top-img{
    display: flex;
    padding: 1em;
}

.conteudo__top-botao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.status__button{
    border: 1px solid var(--dourado-1);
    background-color: var(--cinza-2);
    color: var(--dourado-1);
    padding: 0.6em 2em;
    font-family: 'BeaufortForLoLBold';
    border-style: outset;
}

.replay__img{
    border: 1px solid var(--dourado-1);
    border-radius: 50%;
    padding: 0.3em;
    background-color: var(--cinza-2);
    border-style: outset;
    color: var(--dourado-4);
}

.conteudo__mid{
    flex-grow: 1;
}

.conteudo__mid-links{
    margin: 1.5em 2em;
}

.conteudo__mid-links > a{
    text-decoration: none;
    color: var(--dourado-1);
    font-size: 16px;
    font-family: 'BeaufortForLoLBold';
    margin-right: 2em;
    padding: 0.1em;
}

.conteudo__mid-links > a:nth-child(1){
    border-bottom: 1px solid var(--dourado-1);
}

.conteudo__mid-maestria{
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 50%;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.level__xp{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.maestria__xp{
    height: 100px;
    width: 100px;
}

.emblema{
    height: 190px;
    width: 230px;
    /*
    background-image: url(/imgs/Icon_Metal_Circle.svg);
    background-repeat: no-repeat;
    */
}

.points{
    font-family: 'BeaufortForLoLBold';
    font-size: 23px;
    color: var(--azul-1);
    padding-top: 10px;
}

.stats{
    font-family: 'BeaufortForLoLBold';
    color: var(--cinza-1);
    padding-top: 1em;
}

.elo{
    font-family: 'BeaufortForLoLBold';
    font-size: 20px;
    color: var(--dourado-1);
    padding-top: 1em;
}

.elo__points{
    font-family: 'BeaufortForLoLBold';
    font-size: 13px;
    color: var(--cinza-1);
    padding-top: 5px;
}

.conteudo__bot{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #091428ce;
}

.conteudo__bot-chat{
    margin-left: 1em;
}

.conteudo__bot-text{
    background-color: var(--preto-hextec);
    padding: 0.6em 10em 0.6em 0.9em;
    border: 1px solid var(--dourado-1);
    color: var(--cinza-4);
    border-radius: 2px;
    border-style: outset;
}

.conteudo__bot-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.conteudo__bot-buttons > p {
    color: white;
    font-family: 'SpiegelTT';
}

.button__continue{
    padding: 1em 2.5em;
    color: white;
    background-color: var( --azul-2);
    font-family: 'BeaufortForLoLBold';
}

#grupo{
    width: 20px;
    height: 20px;
}