.conteudo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   /* background-image: linear-gradient(to right, #091428, #0A1428); */
    background-image: url(../imgs/riven.jpg);
    background-size: cover;
    background-position: center;
}

.conteudo__top{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-bottom: 2px solid var(--dourado-6);
    background-color: #091223d1;
}

.img_samuel_drift{
    width: 50px;
}

.conteudo__top-status{
    display: flex;
    flex-direction: column;
    padding: 1em 0.3;
    margin-right: auto;
    color: var(--cinza-1);
}

.conteudo__top-status > h1 {
    font-size: 24px;
    font-family: 'BeaufortForLoLBold';
    padding-bottom: 0.2em;
    color: var( --dourado-1);
}

.conteudo__top-status > p {
    font-family: 'SpiegelTT';
}

.conteudo__top-img{
    display: flex;
    padding: 1em;
}

.conteudo__top-botao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.status__button{
    border: 1px solid var(--dourado-1);
    background-color: var(--cinza-2);
    color: var(--dourado-1);
    padding: 0.6em 2em;
    font-family: 'BeaufortForLoLBold';
    border-style: outset;
    transition: 0.6ms;
}

.status__button:hover{
    border: 1px solid var(--dourado-2);
    background-color: var(--cinza-3);
}

.replay__img{
    border: 1px solid var(--dourado-1);
    border-radius: 50%;
    padding: 0.3em;
    background-color: var(--cinza-2);
    border-style: outset;
    color: var(--dourado-4);
}

.replay__img:hover{
    color: var(--dourado-5);
    border: 1px solid var(--dourado-2);
    background-color: var(--cinza-3);
}

.conteudo__mid{
    flex-grow: 1;
}

.conteudo__mid-links{
    margin: 1em 2em;
}

.conteudo__mid-a{
    text-decoration: none;
    color: var(--dourado-1);
    font-size: 16px;
    font-family: 'BeaufortForLoLBold';
    margin-right: 2em;
    padding: 0.1em;
    border-bottom: 1px solid transparent;
    transition: 0.6ms;
}

.conteudo__mid-a:hover{
    border-bottom: 1px solid var(--dourado-1);
}

.conteudo__mid-maestria{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.container__externo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.container__interno{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.level__xp{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    z-index: 100;
}

.maestria__xp{
    height: 100px;
    width: 100px;
    z-index: 100;
}

.emblema{
    height: 190px;
    width: 230px;
    z-index: 100;
    /*
    background-image: url(/imgs/Icon_Metal_Circle.svg);
    background-repeat: no-repeat;
    */
}

.circle__emblema{
    width: 200px;
    position: absolute;
    z-index: 1;
}

.circle__lvl{
    width: 110px;
    position: absolute;
    z-index: 1;
}

.points{
    font-family: 'BeaufortForLoLBold';
    font-size: 23px;
    color: var(--azul-1);
    padding-top: 10px;
}

.stats{
    font-family: 'BeaufortForLoLBold';
    color: var(--cinza-1);
    padding-top: 1em;
}

.elo{
    font-family: 'BeaufortForLoLBold';
    font-size: 20px;
    color: var(--dourado-1);
    padding-top: 1em;
}

.elo__points{
    font-family: 'BeaufortForLoLBold';
    font-size: 13px;
    color: var(--cinza-1);
    padding-top: 5px;
}

.conteudo__mid-carrossel{
    width: 100%;
    margin-top: 0.7em;
}

.swiper {
    width: 1100px;
    height: auto;
}

.swiper-slide img{
   width: 100%;
}

.swiper-pagination{
    position: initial;
}

.swiper-button-prev, 
.swiper-button-next {
    color: var(--dourado-4);
}

.conteudo__bot{
    height: 5rem;
    display: flex;
    align-items: center;
}

.conteudo__bot-chat{
    margin-left: 1em;
}

.conteudo__bot-text{
    background-color: var(--preto-hextec);
    padding: 0.6em 10em 0.6em 0.9em;
    border: 1px solid var(--dourado-1);
    color: var(--cinza-1);
    border-radius: 2px;
    border-style: outset;
    transition: 0.6ms;
}

.conteudo__bot-text:hover{
    border: 1px solid var(--dourado-2);
    color: white;
}

.conteudo__bot-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12em;
}

.conteudo__bot-buttons > p {
    color: white;
    font-family: 'SpiegelTT';
    font-size: 12px;
}

.button__continue{
    padding: 1em 4em;
    background-image: linear-gradient(to bottom, #005A82, #0AC8B9);
    color: white;
    font-family: 'BeaufortForLoLBold';
    border: 1px solid transparent;
    margin-bottom: 0.5em;
    transition: 0.7ms;
}

.button__continue:hover{
    border: 2px solid var(--azul-2);
    color: var(--cinza-2);
}

#grupo{
    width: 20px;
    height: 20px;
}

.range__slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range__pai{
    width: 190px;
    height: 3px;
    background-color: var(--cinza-1);
    border-radius: 30px;
}

.range__filho{
    width: 20%;
    height: 100%;
    background-color: white;
}

