
.side__bar{
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: var(--cinza-frio);
}

.side__bar-top{
    height: 5rem;
    background-color: var(--preto-hextec);
    display: flex;
    flex-direction: column;
}

.side__bar-top-nav{
    display: flex;
    margin-left: auto;
    gap: 5px;
    padding-top: 0.3em;
    padding-right: 0.5em;
}

.side__bar-container{
    display: flex;
    padding-left: 15px;
}

.side__bar-top-card{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
    gap: 0.3em;
}

.side__bar-top-card > h2 {
    font-family: 'BeaufortForLoLBold';
    font-size: 16px;
    color: var(--dourado-1);
}

.side__bar-top-card > p {
    font-family: 'SpiegelTT';
    font-size: 14px;
    color: rgb(0, 137, 0);
}

.icon__player{
    width: 50px;
    height: 50px;
    border: 1px solid var(--dourado-4);
    border-radius: 50%;
}

.sino{
    margin-top: 1.7em;
    margin-left: 1em;
}

.nav__sino{
    width: 15px;
    height: 15px;
}

.nav__sino:hover{
    cursor: pointer;
}

.nav__icons{
    width: 15px;
    height: 15px;
}

.nav__icons:hover{
    cursor: pointer;
}

.side__bar-mid{
    flex-grow: 1;
    background-color: var(--preto-hextec);
}

.side__bar-mid-social{
    display: flex;
    justify-content: space-between;
    padding: 0.3em 0.4em;
    align-items: center;
    color: white;
}

.social{
    color: var(--cinza-1);
    font-family: 'BeaufortForLoLBold';
}

.side__bar-bot{
    display: flex;
    height: 2.5rem;
    background-color: var(--preto-hextec);
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(218, 165, 32, 0.3);
    padding: 0 0.3em;
}

.icon__social{
    width: 20px;
    height: 20px;
    padding-right: 0.2em;
}

.icon__social:hover{
    cursor: pointer;
}

.side__bar-mid-listfriends{
    display: flex;
    align-items: center;
    color: var(--cinza-1);
    font-family: 'BeaufortForLoLBold';
}

.side__bar-mid-listfriends > img {
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.friend {
    display: flex;
    align-items: center;
    padding: 0.3em 0.7em 0.5em 0.8em;
    gap: 0.5em;
}

.friend:hover{
    cursor: pointer;
}

.lista__player{
    width: 35px;
    height: 35px;
    border: 1px solid var(--dourado-4);
    border-radius: 50%;
}

.nick__status > h2 {
    font-family: 'BeaufortForLoL';
    font-size: 15px;
    color: var(--cinza-1);
    padding-bottom: 0.2em; 
}

.online {
    font-family: 'SpiegelTT';
    font-size: 13px;
    color: rgb(0, 137, 0);
}

.in__game {
    font-family: 'SpiegelTT';
    color: var(--azul-3);
    font-size: 13px;
}

.league{
    font-family: 'SpiegelTT';
    color: var(--cinza-meio);
    font-size: 13px;
}

.side__buttons{
    width: 20px;
    height: 18px;
    border: 1px solid var(--dourado-1);
    border-style: outset;
    background-color: var(--cinza-2);
    padding: 0.3em;
    border-radius: 2px;
}

.side__buttons:hover{
    cursor: pointer;
    background-color: var(--cinza-3);
}

.side__buttons-bug{
    width: 20px;
    height: 18px;
    border: 1px solid var(--dourado-1);
    border-style: outset;
    background-color: var(--cinza-2);
    padding: 0.1em;
}

.side__buttons-bug:hover{
    cursor: pointer;
    background-color: var(--cinza-3);
}

.version{
    font-family: 'SpiegelTT';
    color: var(--cinza-meio);
    font-size: 12px;
}